[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    mpl_data_containers/_version.py,
    docs/source/conf.py
    setup.py
    .eggs
    docs/source/gallery
    examples
max-line-length = 115
# Ignore some style 'errors' produced while formatting by 'black' and docstrings (for now)
ignore = E203, W503, D1, D3, D4
